parameters:
	ignoreErrors:
		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/Currency/Bridge/Doctrine/CurrencyType.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '' and Money\\\\Currency will always evaluate to false\\.$#"
			count: 1
			path: src/Currency/Bridge/Doctrine/CurrencyType.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and Money\\\\Currency will always evaluate to false\\.$#"
			count: 1
			path: src/Currency/Bridge/Doctrine/CurrencyType.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Currency/Bridge/Doctrine/CurrencyType.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/Email/Bridge/Doctrine/EmailType.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '' and SerendipityHQ\\\\Component\\\\ValueObjects\\\\Email\\\\Email will always evaluate to false\\.$#"
			count: 1
			path: src/Email/Bridge/Doctrine/EmailType.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and SerendipityHQ\\\\Component\\\\ValueObjects\\\\Email\\\\Email will always evaluate to false\\.$#"
			count: 1
			path: src/Email/Bridge/Doctrine/EmailType.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Email/Bridge/Doctrine/EmailType.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/Money/Bridge/Doctrine/MoneyType.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '' and SerendipityHQ\\\\Component\\\\ValueObjects\\\\Money\\\\Money will always evaluate to false\\.$#"
			count: 1
			path: src/Money/Bridge/Doctrine/MoneyType.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and SerendipityHQ\\\\Component\\\\ValueObjects\\\\Money\\\\Money will always evaluate to false\\.$#"
			count: 1
			path: src/Money/Bridge/Doctrine/MoneyType.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Money/Bridge/Doctrine/MoneyType.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: src/Uri/Bridge/Doctrine/UriType.php

		-
			message: "#^Strict comparison using \\=\\=\\= between '' and SerendipityHQ\\\\Component\\\\ValueObjects\\\\Money\\\\Money will always evaluate to false\\.$#"
			count: 1
			path: src/Uri/Bridge/Doctrine/UriType.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and SerendipityHQ\\\\Component\\\\ValueObjects\\\\Money\\\\Money will always evaluate to false\\.$#"
			count: 1
			path: src/Uri/Bridge/Doctrine/UriType.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Uri/Bridge/Doctrine/UriType.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Address\\\\AddressTest\\:\\:testAddress\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Address/AddressTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Address\\\\AddressTest\\:\\:testToStringThrowsAnException\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Address/AddressTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Address\\\\Bridge\\\\Symfony\\\\Form\\\\Type\\\\AddressTypeTest\\:\\:testAddress\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Address/Bridge/Symfony/Form/Type/AddressTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Address\\\\Bridge\\\\Symfony\\\\Form\\\\Type\\\\AddressTypeTest\\:\\:testAddressWithNullValues\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Address/Bridge/Symfony/Form/Type/AddressTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailTypeTest\\:\\:testGetName\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailTypeTest\\:\\:testConvertToPHPValue\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailTypeTest\\:\\:testConvertToPHPValueHandlesNull\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailTypeTest\\:\\:testConvertToPHPValueHandlesEmptyString\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailTypeTest\\:\\:testConvertToDatabaseValue\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailTypeTest\\:\\:testConvertToDatabaseValueHandlesNull\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Parameter \\#1 \\$value of method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailType\\:\\:convertToDatabaseValue\\(\\) expects SerendipityHQ\\\\Component\\\\ValueObjects\\\\Email\\\\Email, null given\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailTypeTest\\:\\:testConvertToDatabaseValueHandlesEmptyString\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Parameter \\#1 \\$value of method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailType\\:\\:convertToDatabaseValue\\(\\) expects SerendipityHQ\\\\Component\\\\ValueObjects\\\\Email\\\\Email, string given\\.$#"
			count: 2
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailTypeTest\\:\\:testConvertToDatabaseValueAcceptsOnlyEmailObjects\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\Bridge\\\\Doctrine\\\\EmailTypeTest\\:\\:testConvertToDatabaseValueValidatesEmail\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/Bridge/Doctrine/EmailTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\EmailTest\\:\\:testEmail\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/EmailTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\EmailTest\\:\\:testInvalidEmailThrowsAnException\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/EmailTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Email\\\\EmailTest\\:\\:testChangeMailBox\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Email/EmailTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Ip\\\\IpTest\\:\\:testIp\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Ip/IpTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\Bridge\\\\Doctrine\\\\MoneyTypeTest\\:\\:testMoneyType\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/Bridge/Doctrine/MoneyTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\Bridge\\\\Symfony\\\\Form\\\\Type\\\\MoneyTypeTest\\:\\:testMoney\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/Bridge/Symfony/Form/Type/MoneyTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\Bridge\\\\Symfony\\\\Form\\\\Type\\\\MoneyTypeTest\\:\\:testMoneyWithNullValues\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/Bridge/Symfony/Form/Type/MoneyTypeTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testBaseUnits\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testHumanInt\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testHumanFloat\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testHumanIntAsFloat\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testHumanIntAsString\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testHumanFloatAsString\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testHumanIntAsFloatAsString\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testHumanFloatAsStringWithComma\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testSum\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Money\\\\MoneyTest\\:\\:testSubtract\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Money/MoneyTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Payment\\\\PaymentTest\\:\\:testPayment\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Payment/PaymentTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Phone\\\\PhoneTest\\:\\:testPhone\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Phone/PhoneTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Tax\\\\TaxTest\\:\\:testTax\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Tax/TaxTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Uri\\\\UriTest\\:\\:testUri\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Uri/UriTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Uri\\\\UriTest\\:\\:testUriCanMergeAnotherUri\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Uri/UriTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Uri\\\\UriTest\\:\\:testUriThrowsAnExceptionIfUriIsNotNullStringOrUriObject\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Uri/UriTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Uri\\\\UriTest\\:\\:testNormalize\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Uri/UriTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Uri\\\\UriTest\\:\\:testMakeRelative\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Uri/UriTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Vat\\\\VatNumberTest\\:\\:testVatNumber\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Vat/VatNumberTest.php

		-
			message: "#^Method SerendipityHQ\\\\Component\\\\ValueObjects\\\\Tests\\\\Vat\\\\VatRateTest\\:\\:testTax\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Vat/VatRateTest.php

