root = true
[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
[*.{php,yml,yaml,neon}]
indent_size = 4
[*.{js,jsx,css,scss}]
indent_size = 2
