<?xml version="1.0" encoding="UTF-8" ?>
<phpdoc>
	<parser>
		<target>build/docs/cache</target>
	</parser>
	<transformer>
		<target>build/docs</target>
	</transformer>
	<files>
		<directory>./src</directory>
	</files>
</phpdoc>
