includes:
    - .baseline-phpstan.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    level: max
    bootstrapFiles:
        - vendor-bin/phpunit/vendor/autoload.php
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Method SerendipityHQ\\Component\\ValueObjects\\Address\\Bridge\\Symfony\\Form\\Type\\AddressType::buildForm\(\) has parameter \$builder with no value type specified in iterable type Symfony\\Component\\Form\\FormBuilderInterface.#'
            path: %currentWorkingDirectory%/src
        -
            message: '#Method SerendipityHQ\\Component\\ValueObjects\\Address\\Bridge\\Symfony\\Form\\Type\\AddressType::buildForm\(\) has parameter \$options with no value type specified in iterable type array.#'
            path: %currentWorkingDirectory%/src
        -
            message: '#Method SerendipityHQ\\Component\\ValueObjects\\Money\\Bridge\\Symfony\\Form\\Type\\MoneyType::buildForm\(\) has parameter \$builder with no value type specified in iterable type Symfony\\Component\\Form\\FormBuilderInterface.#'
            path: %currentWorkingDirectory%/src
        -
            message: '#Method SerendipityHQ\\Component\\ValueObjects\\Money\\Bridge\\Symfony\\Form\\Type\\MoneyType::buildForm\(\) has parameter \$options with no value type specified in iterable type array.#'
            path: %currentWorkingDirectory%/src
        -
            message: '#Property SerendipityHQ\\Component\\ValueObjects\\Money\\Bridge\\Twig\\MoneyFormatterExtension::\$currencies type has no value type specified in iterable type Money\\Currencies\\ISOCurrencies.#'
            path: %currentWorkingDirectory%/src
        -
            message: "#^Parameter \\#1 \\$uri of class SerendipityHQ\\\\Component\\\\ValueObjects\\\\Uri\\\\Uri constructor expects SerendipityHQ\\\\Component\\\\ValueObjects\\\\Uri\\\\UriInterface\\|string, int given\\.$#"
            count: 1
            path: tests/Uri/UriTest.php
