<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor-bin/phpunit/vendor/phpunit/phpunit/phpunit.xsd"
        cacheResultFile="var/cache/"
        colors="true"
        bootstrap="tests/bootstrap.php"
>

    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
        <ini name="error_reporting" value="-16385"/>
    </php>

    <testsuites>
        <testsuite name="Serendipity HQ Value Objects Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory>./src/Resources</directory>
        </exclude>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
