name: PHP CS Fixer

on: [ push, pull_request ]

jobs:
    serendipity_hq:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ ubuntu-latest ]
                php: [ '7.4' ]
        name: PHP ${{ matrix.php }} on ${{ matrix.os }}
        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@2.9.0
                with:
                    php-version: ${{ matrix.php }}
                    coverage: none # disable xdebug, pcov
                    extensions: ast

            -   name: Find Composer's cache directory
                uses: ./.github/actions/composer/find-cache-dir

            -   name: Cache Composer's dependencies
                uses: actions/cache@v2.1.4
                with:
                    path: ${{ env.COMPOSER_CACHE_DIR }}
                    key: php-composer-dependencies-cache

            -   name: Install Composer deps
                run: |
                    composer update --no-interaction --no-suggest --no-scripts
                    composer bin phpcs update

            -   name: Run PHP CS Fixer
                run: |
                    ./vendor/bin/php-cs-fixer fix --allow-risky yes --dry-run -v
