name: PHPunit

on: [ push, pull_request ]

jobs:
    phpunit:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ ubuntu-latest ]
                php: [ '7.3', '7.4', '8.0' ]

        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@2.9.0
                with:
                    php-version: ${{ matrix.php }}
                    coverage: pcov
                    extensions: ast

            -   name: Find Composer's cache directory
                uses: ./.github/actions/composer/find-cache-dir

            -   name: Cache Composer's dependencies
                uses: actions/cache@v2.1.4
                with:
                    path: ${{ env.COMPOSER_CACHE_DIR }}
                    key: php-composer-dependencies-cache

            -   name: Install Composer deps
                run: |
                    composer update --no-interaction --no-suggest --no-scripts
                    composer bin phpunit update

            -   name: Run PHPunit
                run: |
                    ./vendor/bin/phpunit --coverage-clover var/coverage/clover.xml

            -   name: Change paths in clover.xml
                run: |
                    sed -i 's+/home/runner/work/component-value-objects/component-value-objects+/github/workspace+g' ./var/coverage/clover.xml

            -   name: Sonarcloud
                uses: sonarsource/sonarcloud-github-action@master
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
