name: PHPunit

on: [ push ]

jobs:
    phpunit:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ ubuntu-latest ]
                # When you change a version here, change it also in the SonarCloud if condition
                php: [ '7.4', '8.0', '8.1' ]
                symfony: [ '~4.4', '~5.4', '~6.0' ]

                exclude:
                    - php: '7.4'
                      symfony: '~6.0'

        steps:
            -   name: Checkout
                uses: actions/checkout@v2.4.0

            -   name: Setup PHP
                uses: shivammathur/setup-php@2.16.0
                with:
                    php-version: ${{ matrix.php }}
                    coverage: pcov
                    extensions: ast

            -   name: Get Composer Cache Directory
                id: composer-cache
                run: |
                    echo "::set-output name=dir::$(composer config cache-files-dir)"

            -   name: Cache Composer's dependencies
                uses: actions/cache@v2.1.7
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: php-composer-dependencies-cache

            -   name: Fix Symfony version
                run: |
                    composer req symfony/flex --no-update
                    composer config extra.symfony.require "${{ matrix.symfony }}"
                    composer config --no-plugins allow-plugins.symfony/flex true

            -   name: Install Composer deps
                # Do not install all bin deps, but individually install the required ones
                # The second update is to make Flex able to do its job
                run: |
                    composer update --no-interaction --no-scripts
                    composer update --no-interaction --no-scripts
                    composer bin phpunit update

            -   name: Run PHPunit
                run: |
                    ./vendor/bin/phpunit --coverage-clover var/coverage/clover.xml

            -   name: Change paths in clover.xml
                run: |
                    sed -i 's+/home/runner/work/component-value-objects/component-value-objects+/github/workspace+g' ./var/coverage/clover.xml

            -   name: Sonarcloud
                if: github.ref == 'refs/heads/dev'
                uses: sonarsource/sonarcloud-github-action@master
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
