name: Rector

on: [ push ]

# Cancels all previous workflow runs for the same branch that have not yet completed.
concurrency:
    # The concurrency group contains the workflow name and the branch name.
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    rector:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ ubuntu-latest ]
                php: [ '7.4', '8.0', '8.1' ]

        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@2.30.5
                with:
                    php-version: ${{ matrix.php }}
                    coverage: none # disable xdebug, pcov
                    extensions: ast

            -   name: Install Composer deps
                uses: ramsey/composer-install@v3
                with:
                    composer-options: --no-scripts

            -   name: Install Composer bin PHPUnit
                uses: ramsey/composer-install@v3
                with:
                    working-directory: './vendor-bin/phpunit'

            -   name: Run Rector
                run: |
                    ./vendor/bin/rector process --dry-run
